{% extends "layout.html" %}

{% block content %}
	<div id="content">
		<h2>Home</h2>
		
		<div class="map">
			<div>
				<form method="POST" action="/home">
					{{ form.hidden_tag() }}

					<div class="form-item">
						{{ form.address.label }}

						{% if form.address.errors %}
							{% for error in form.address.errors %}
								<p class="error">{{ error }}</p>
							{% endfor %}
						{% endif %}

						{{ form.address }}
					</div>
					{{ form.submit(class="btn-primary") }}
			</div>
		</div>
	</div>
{% endblock %}